@model IEnumerable<LegalAccessInnovationFund.Web.Models.ViewModels.CampaignViewModel>
@{
    ViewBag.Title = "CampaignAccess";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


<style>

    .btn.outline {
        background: none;
        padding: 12px 22px;
    }

    .btn-primary.outline {
        border: 2px solid #0099cc;
        color: #0099cc;
    }

        .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
            color: #33a6cc;
            border-color: #33a6cc;
        }

        .btn-primary.outline:active, .btn-primary.outline.active {
            border-color: #007299;
            color: #007299;
            box-shadow: none;
        }
</style>
<div class="row headline">
    <div class="row">
        <div class="span12" style="position:relative; text-align:center; height: 500px;">
            @*<img  src="http://www.macwallhd.com/wp-content/Wallpapers/20120625/At%20the%20Office%20Mac%20Apple%20Wallpapers%20Creative%20Planning-2982192420.jpeg" />*@
            <h1 style="position: absolute; margin: auto; top: 30%;    left:0;    right:0;    bottom:0;">
                This Is The Header To Introduce Campaigns
            </h1>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div>
                <img src="https://c1.staticflickr.com/3/2855/9323706832_efbf0759ba_b.jpg" />
            </div>
            <div style="background-color:none; ">
                <br />
                <br />
                <div style="left:20px; right:20px;"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p></div>
                <br />
                <br />
                @Html.ActionLink("See Our Featured Campaigns", "Campaigns", "Campaign", null, new { @class = "btn btn-primary btn-lg btn-block outline", type = "button", style = "color:white" })
                <br />
                <br />
            </div>
        </div>
        <div class="span6">
            <div>
                <img src="http://wholeheartsfamilycenter.com/wp-content/uploads/2015/03/26.jpg" />
            </div>
            <div style="background:none">
                <br />
                <br />
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <br />
                <br />
                @Html.ActionLink("Start A Campaign", "CampaignBegin", "Campaign", null, new { @class = "btn btn-primary btn-lg btn-block outline", type = "button", style = "color:white;" })
                <a href="/campaign/campaignbegin" calss="btn btn-primary btn-lg btn-block" style="color:white"></a>
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div><!-- End Headline -->


@section scripts{

    <script src=""></script>

}


