@{
    ViewBag.Title = "Home Page";
}

<!-- Banner -->
<section id="banner">
    <div class="inner split">
        <section>
            <h2>Legal Access Innovation Fund</h2>
            <br /> <small>Legal Access Technology & Innovation offers a 10-week paid summer fellowship each year to innovative law students who will spur innovation and accelerate the development of legal technology to improve access to justice for low-income clients.</small>
        </section>
        <section>
            <p>Legal Access Innovation Fund seeks to incentivize some of our best and brightest legal scholars to help solve pressing issues related to the U.S. legal system, namely those that prevent low-come clients from receiving adequate legal services.</p>
            <ul class="actions">
                <li><a href="#" class="button special">Get started</a></li>
            </ul>
        </section>
    </div>
</section>
<!-- One -->
<section id="one" class="wrapper">
    <div class="inner split">
        <section>
            <h2>Contribute To Our Campaigns</h2>
            <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus aliquam et tempus lorem feugiat adipiscing lorem. Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis orci. Pellentesque eget consequat.</p>
            <ul class="actions">
                <li><a href="#" class="button alt">See Our Featured Campaigns</a></li>
            </ul>
        </section>
        <section>
            <h2>Start A Campaign</h2>
            <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus aliquam et tempus lorem feugiat adipiscing lorem. Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis orci. Pellentesque eget consequat.</p>
            <ul class="actions">
                <li><a href="#" class="button alt">Start A Campaign</a></li>
            </ul>
        </section>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper style2 alt">
    <div class="inner">
        @*@model IEnumerable<LegalAccessInnovationFund.Web.Models.ViewModels.CampaignViewModel>
            @if (Model.Any())
            {
                foreach (var item in Model.Take(3))
                {
                    <div class="spotlight">
                        <div class="image">
                            <img src="@item.Picture" />
                        </div>
                        <div class="content">
                            <h3>@item.Title<small>@item.Goal</small></h3>
                            <p>@item.Story.Substring(0, 50)...</p>
                            <ul class="actions">
                                <li><a href="/campaign/campainview/@item.CampaignId" class="button alt">Go To Campaign</a></li>
                                <li><a href="/campaign/contribute/@item.CampaignId" class="button alt">Contribute</a></li>
                            </ul>
                        </div>
                    </div>
                }
            }
            else
            {*@
        <div class="spotlight">
            <div class="image">
                <img src="~/images/150403-law-student-stock.jpg" />
            </div>
            <div class="content">
                <h3>Campaign Example 1</h3>
                <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
                <ul class="actions">
                    <li><a href="/campaign/campainview/" class="button alt">Go To Campaign</a></li>
                    <li><a href="" class="button alt">Contribute</a></li>
                </ul>
            </div>
        </div>
        <div class="spotlight">
            <div class="image">
                <img src="~/images/pic02.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Campaign Example 2</h3>
                <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
                <ul class="actions">
                    <li><a href="/campaign/campaignview/" class="button alt">Go To Campaign</a></li>
                    <li><a href="" class="button alt">Contribute</a></li>

                </ul>
            </div>
        </div>
        <div class="spotlight">
            <div class="image">
                <img src="~/images/pic03.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Campaign Example 3</h3>
                <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
                <ul class="actions">
                    <li><a href="/campaign/campaignview/" class="button alt">Go To Campaign</a></li>
                    <li><a href="" class="button alt">Contribute</a></li>
                </ul>
            </div>
        </div>

        <ul class="actions special">
            <li><a href="/campaigns/campaigns" class="button alt">Browse Campaigns</a></li>
        </ul>
    </div>
</section>
<!-- Contact -->
<section id="contact" class="wrapper">
    <div class="inner split">
        <section>
            <h2>Apply Today</h2>
            <p>Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis pellentesque eget.</p>
            <form action="#" class="alt" method="POST">
                <div class="row uniform" ng-app="app" ng-controller="applicationController">
                    <div class="6u 12u$(xsmall)">
                        <input name="name" placeholder="First Name" ng-model="application.FirstName" type="text">
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input name="name" placeholder="Last Name" ng-model="application.LastName" type="text">
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <input name="email" placeholder="Email" ng-model="application.Email" type="text">
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input name="phone" placeholder="Phone Number" ng-model="application.Phonenumber" type="text">
                    </div>
                    <div class="6u 12u$(xlarge)">
                        <input name="location" placeholder="City, State" ng-model="application.Location" type="text" />
                    </div>

                </div>
                <ul class="actions">
                    <li><input ng-hide="submitted" class="alt" value="Apply" type="submit" ng-click="submit(application)"></li>
                </ul>
            </form>
        </section>
        <section>
            <h3>The Legal Access Innovation Fund is looking for current law students excited about legal innovation and access to justice to apply to be a Legal Access Technology & Innovation Fellow.</h3>
            <p>
                The deadline to apply is Monday, December 7, 2016.
                At least 80 percent of the legal needs of the poor and two-thirds of the legal needs of middle income Americans are not met. While lawyers are too restricted by the profession to enable change, we believe creating a fertile environment for law students to become legal innovators will eventually disrupt the legal profession and spur innovative solutions that address our most pressing issues that prevent legal access to low-income clients.
            </p>
        </section>
    </div>
</section>

@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>

        var app = angular.module("app", []);


        app.controller("applicationController", function ($http, $scope) {

            $scope.submitted = false;
            $scope.error = false;
            $scope.loading = false;

            $scope.submit = function (input) {

                $scope.loading = true;
                $scope.buttonClicked = true;

                $http.post("/profile/submitapplication", input).success(function (message) {

                    $scope.application = {};
                    $scope.loading = false;
                    $scope.submitted = true;
                    $scope.message = message;
                })

                .error(function (error) {

                    $scope.loading = false;
                    $scope.error = true;

                });
            }
        });
    </script>
}