
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
              body {
                  position: relative;
              }

              ul.nav-pills {
                  top: 20px;
                  position: fixed;
              }

              div.col-sm-9 div {
                  height: 250px;
                  font-size: 28px;
              }
              /*#section1 {color: #fff; background-color: #1E88E5;}
        #section2 {color: #fff; background-color: #673ab7;}
        #section3 {color: #fff; background-color: #ff9800;}
        #section41 {color: #fff; background-color: #00bcd4;}
        #section42 {color: #fff; background-color: #009688;}*/

              @@media screen and (max-width: 810px) {
                  #section1, #section2, #section3, #section41, #section42 {
                      margin-left: 150px;
                  }
              }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container">
        <div class="row">
            <nav class="col-sm-3" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked">
                    <li style="height:25vh" class="active"><a href="#section1">Section 1</a></li>
                    <li style="height:25vh"><a href="#section3">Section 3</a></li>
                    <li style="height:25vh"><a href="#section41">Section 4-1</a></li>
                    <li style="height:25vh"><a href="#section42">Section 4-2</a></li>
                </ul>
            </nav>
            <div class="col-sm-9">
                <div id="section1"style="height: 100vh">
                    <h2>Write Your Story</h2>
                    <br />
                    <p>Give us a title of your story. We want it to be a summation of the topic of your story. Please keep it brief.</p>
                    <form>
                        <input type="text" placeholder="Write the title of your story here." ng-model="campaign.Title" />
                    </form>
                    <p>Tell us your story in full detail. You may add pictures from the web. You may not upload pictures at this time. Be as detailed as possible when describing your story. We want to know the whole thing!</p>
                            <textarea rows="4" cols="50 " ng-model="campaign.Description"  >
                                Put Your Text here
                            </textarea>
                </div>  
                <div id="section3" style="height: 100vh">
                    <h3>Give Us A Picture</h3>
                    <br />
                    <p>Copy and paste a picture representing your story. The picture must be high definition and has quality. The picture can be of yourself or your organization</p>
                    <form>
                        <input type="text" ng-model="campaign.Picture" />
                    </form>

                    <img ng-src="{{campaign.Picture}}" />
                </div>
                <div id="section41" style="height: 100vh">
                    <h4>Add Donation Levels</h4>
                    <br />
                    <p>Detail some donation levels for your cause. Whatever your cause, you can add perks for people at $25, $50, or $100 intervals. List your perks, the amount of contribution they represent and the quantity that are available. </p>
                        <div ng-hide="hide" id="newform">
                            <form>
                                <label>Title</label>
                                <input type="text" ng-model="campaign.DonationLevels.Title" />

                                <label>Description</label>
                                @*<textarea type="text" ng-model="campaign.DonationLevels.Description" placeholder="Write your description of this contribution level" />*@

                                <label>Donation Amount</label>
                                <input type="text" ng-model="campaign.DonationLevels.Amount" />

                                <label>Quantity</label>
                                <input type="number" ng-model="campaign.DonationLevels.Quantity" />

                                <label>Add A Delivery Date</label>
                                <input type="date" ng-model="campaign.DonationLevels.DeliveryDate" />

                                <button class="btn btn-default" ng-click="newDonationLevel()" value="Add New Donation Level" />

                                <button class="btn btn-danger" ng-click="removeDonationLevel()" value="Remove This Donation Level" />
                            </form>
                        </div>
                        <form>
                            <label>Title</label>
                            <input type="text" ng-model="campaign.DonationLevels.Title" />

                            <label>Description</label>
                            <textarea type="text" ng-model="campaign.DonationLevels.Description" placeholder="Write your description of this contribution level" />

                            <label>Donation Amount</label>
                            <input type="text" ng-model="campaign.DonationLevels.Amount" />

                            <label>Quantity</label>
                            <input type="number" ng-model="campaign.DonationLevels.Quantity" />

                            <label>Add A Delivery Date</label>
                            <input type="date" ng-model="campaign.DonationLevels.DeliveryDate" />

                            <button class="btn btn-default" ng-click="newDonationLevel()" value="Add New Donation Level" />

                            <button class="btn btn-danger" ng-click="removeDonationLevel()" value="Remove This Donation Level" />
                        </form>
                </div>
                <div id="section42" style="height: 100vh">
                    <h6 class="title-bg">Campaign Confirmation</h6>
                    <div ng-show="!confirmed">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#step-1" data-toggle="tab">Your Story</a></li>
                            <li><a href="#step-2" data-toggle="tab">Picture</a></li>
                            <li><a href="#step-3" data-toggle="tab">Donation Levels</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="step-1">
                                <p>Title: {{campaign.Title}}</p>
                                <br />
                                <p>Story: {{campaign.Story}}</p>
                            </div>
                            <div class="tab-pane" id="step-2">
                                <img ng-src="{{campaign.Picture}}" />
                                <div class="tab-pane" id="step-3">
                                    <ul ng-repeat="d in campaign.DonationLevels">
                                        <li>
                                            <p>Donation Title: {{d.Title}}</p>
                                            <p>Donation Description: {{d.Description}}</p>
                                            <p>Donations Available: {{d.Quantity}}</p>
                                            <p>Delivery Date: {{d.DeliveryDate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <form>
                                <input class="btn btn-primary btn-block" type="submit" ng-click="submitForm(campaign)" value="Submit This Campaign" />
                            </form>
                        </div>
                        <div ng-show="confirmed">
                            <div class="alert alert-success">Your campaign has been uploaded. Click "Go To Your Campaign" to view your uploaded campaign. You may edit or delete a campaign.</div>
                            <a href="/campaign/campaignview/{{id}}" class="btn btn-success">Go To Your Campaign</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


@*<body data-spy="scroll" data-target=".navigation" data-offset="50">

                <div class="span6">
                    <nav id="myScrollspy">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="#section1">Write Your Story</a>
                            </li>
                            <li>
                                <a href="#section2">Give Us A Picture</a>
                            </li>
                            <li>
                                <a href="#section3">Add Donation Levels</a>
                            </li>
                            <li>
                                <a href="#section4">Confirmation</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="span6" style="background-color: white" ng-app="app" ng-controller="formController" ng-cloak>
                    <div id="section1" style="height: 100vh">
                        <h4>Write Your Story</h4>
                        <br />
                        <p>Give us a title of your story. We want it to be a summation of the topic of your story. Please keep it brief.</p>
                        <form>
                            <input type="text" placeholder="Write the title of your story here." ng-model="campaign.Title" />
                        </form>
                        <p>Tell us your story in full detail. You may add pictures from the web. You may not upload pictures at this time. Be as detailed as possible when describing your story. We want to know the whole thing!</p>
                        <form>
                            <textarea type="text" placeholder="Write your story here." ng-model="campaign.Story" />
                        </form>
                    </div>

                    <div id="section2" style="height: 100vh">
                        <h3>Give Us A Picture</h3>
                        <br />
                        <p>Copy and paste a picture representing your story. The picture must be high definition and has quality. The picture can be of yourself or your organization</p>
                        <form>
                            <input type="text" ng-model="campaign.Picture" />
                        </form>

                        <img ng-src="{{campaign.Picture}}" />
                    </div>
                    <div id="section3">

                        <h4>Add Donation Levels</h4>
                        <br />
                        <p>Detail some donation levels for your cause. Whatever your cause, you can add perks for people at $25, $50, or $100 intervals. List your perks, the amount of contribution they represent and the quantity that are available. </p>
                        <div>
                            <div ng-hide="hide" id="newform">
                                <form>
                                    <label>Title</label>
                                    <input type="text" ng-model="campaign.DonationLevels.Title" />

                                    <label>Description</label>
                                    <textarea type="text" ng-model="campaign.DonationLevels.Description" placeholder="Write your description of this contribution level" />

                                    <label>Donation Amount</label>
                                    <input type="text" ng-model="campaign.DonationLevels.Amount" />

                                    <label>Quantity</label>
                                    <input type="number" ng-model="campaign.DonationLevels.Quantity" />

                                    <label>Add A Delivery Date</label>
                                    <input type="date" ng-model="campaign.DonationLevels.DeliveryDate" />

                                    <button class="btn btn-default" ng-click="newDonationLevel()" value="Add New Donation Level" />

                                    <button class="btn btn-danger" ng-click="removeDonationLevel()" value="Remove This Donation Level" />
                                </form>
                            </div>
                            <form>
                                <label>Title</label>
                                <input type="text" ng-model="campaign.DonationLevels.Title" />

                                <label>Description</label>
                                <textarea type="text" ng-model="campaign.DonationLevels.Description" placeholder="Write your description of this contribution level" />

                                <label>Donation Amount</label>
                                <input type="text" ng-model="campaign.DonationLevels.Amount" />

                                <label>Quantity</label>
                                <input type="number" ng-model="campaign.DonationLevels.Quantity" />

                                <label>Add A Delivery Date</label>
                                <input type="date" ng-model="campaign.DonationLevels.DeliveryDate" />

                                <button class="btn btn-default" ng-click="newDonationLevel()" value="Add New Donation Level" />

                                <button class="btn btn-danger" ng-click="removeDonationLevel()" value="Remove This Donation Level" />
                            </form>
                        </div>
                    </div>

                    <div id="section4" style="height: 100vh">
                        <div>
                            <h6 class="title-bg">Campaign Confirmation</h6>
                            <div ng-show="!confirmed">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#step-1" data-toggle="tab">Your Story</a></li>
                                    <li><a href="#step-2" data-toggle="tab">Picture</a></li>
                                    <li><a href="#step-3" data-toggle="tab">Donation Levels</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="step-1">
                                        <p>Title: {{campaign.Title}}</p>
                                        <br />
                                        <p>Story: {{campaign.Story}}</p>
                                    </div>
                                    <div class="tab-pane" id="step-2">
                                        <img ng-src="{{campaign.Picture}}" />
                                        <div class="tab-pane" id="step-3">
                                            <ul ng-repeat="d in campaign.DonationLevels">
                                                <li>
                                                    <p>Donation Title: {{d.Title}}</p>
                                                    <p>Donation Description: {{d.Description}}</p>
                                                    <p>Donations Available: {{d.Quantity}}</p>
                                                    <p>Delivery Date: {{d.DeliveryDate}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <form>
                                        <input class="btn btn-primary btn-block" type="submit" ng-click="submitForm(campaign)" value="Submit This Campaign" />
                                    </form>
                                </div>
                                <div ng-show="confirmed">
                                    <div class="alert alert-success">Your campaign has been uploaded. Click "Go To Your Campaign" to view your uploaded campaign. You may edit or delete a campaign.</div>
                                    <a href="/campaign/campaignview/{{id}}" class="btn btn-success">Go To Your Campaign</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @section scripts{

                <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

                <script src="/AngularViews/campaign.js"></script>

                <script>tinymce.init({ selector: 'textarea' });</script>

                <script>
                    var app = angular.module("app", []);

                    app.controller("formController", function () {

                        $scope.campaign = {

                            Picture: '',
                            Title: '',
                            DonationLevels: [

                                   {
                                       Title: '',
                                       Description: '',
                                       Amount: 0,
                                       Quantity: 0,
                                       DeliveryDate: ''
                                   }
                            ]
                        };

                        $scope.newDonationLevel = function () {

                            var oClone = document.getElementById("newform").cloneNode(true);
                            document.getElementById("section3").appendChild(oClone);
                        }

                        $scope.submitForm = function (campaign) {

                            $http.get('/campaign/startcampaign', campaign).then(function (id) {
                                $scope.confirmed = true;
                                $scope.campaign = {};
                                $scope.id = result;
                            });
                        }

                    });
                </script>
            }
    </body>*@
</html>