@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container main-container">
    <div ng-app="app" ng-controller="campaignController" ng-cloak>
        <div class="row">
            <div class="span3 sidebar page-sidebar">
                <div class="title-bg">
                    <form class="form-search">
                        <div class="input-append">
                            <input type="text" class="span2 search-query" ng-model="query" /><button class="btn" type="button" ng-click="search(query)">Search</button>
                        </div>
                    </form>
                </div>
                <h5 class="title-bg">Latest Campaigns</h5>
                <ul class="popular-posts" ng-repeat="c in latestCampaigns">
                    <li>
                        <a href="#"><img ng-src="{{c.Avatar}}" alt="Popular Post"></a>
                        <h6><a href="#">{{c.Title}}</a></h6>
                        <em>Posted on {{c.DatePosted}}</em>
                    </li>
                </ul>
            </div>
            <div class="span9">
                <div class="row">
                    <div class="alert alert-danger span9" ng-show="void">
                        There are no queries matching <span>{{searchData}}</span>.
                    </div>
                    <ul class="gallery-post-grid holder" ng-show="!void" ng-repeat="c in campaignresults">
                        <li class="span4 gallery-item" data-id="id-1" data-type="illustration">
                            <a href="gallery-single.htm"><img ng-src="{{c.Picture}}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">{{c.Title}}</a>{{c.CampaignStarter.Name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@section scripts{
    <script src="https://code.angularjs.org/1.5.0/angular.js"></script>
    <script>
        var app = angular.module('app', []);

        app.controller('campaignController', function ($http, $scope) {

            var onRefresh = function () {

                $http.get('/campaign/latestcampaigns').then(function (result) {
                    $scope.latestCampaigns = result.data;
                });
            }

            onRefresh();

            $scope.search = function (search) {

                $http.get('/campaign/searchcampaigns?search=' + search).then(function (result) {
                    if (result.data.length === 0) {
                        $scope.void = true;
                        $scope.searchData = search;

                    };

                    $scope.campaignresults = result.data;
                    $scope.results = result.data.length();
                });
            }
        });
    </script>
}
