
@{
    ViewBag.Title = "CampaignBegin";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


<style>
    .btn.outline {
        background: none;
        padding: 12px 22px;
    }

    .btn-primary.outline {
        border: 2px solid #0099cc;
        color: #0099cc;
    }

        .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
            color: #33a6cc;
            border-color: #33a6cc;
        }

        .btn-primary.outline:active, .btn-primary.outline.active {
            border-color: #007299;
            color: #007299;
            box-shadow: none;
        }

    .donations {
        text-align: center;
        border-radius: 6px;
        height: 75px;
        margin-bottom: 50px;
        border: 0.5px solid solid;
        display: table-cell;
        background-color: lightblue;
    }
</style>
<!-- Page content -->
<div ng-app="app" ng-controller="formController" ng-cloak>
    <form>
        <div class="span12">
            <div class="row">
                <div class="jumbotron text-center">
                    <h1>Start Your Campaign</h1>
                    <p>Here is where you will build your campaign. Put your story details and all other information here.</p>
                </div>

                <div class="row">
                    <div class="span12">
                        <br />
                        <br />
                        <br />

                        <h2 id="anch1">Write Your Story</h2>
                        <p>Give us a title of your story. We want it to be a summation of the topic of your story. Please keep it brief.</p>
                        <div class="row">
                            <fieldset>
                                <div class="span6">
                                    <label>Title</label>
                                    <input type="text" placeholder="Write the title of your story here." ng-model="campaign.Title" />
                                </div>
                                <div class="span6">
                                    <label>Goal</label>
                                    <input type="number" placeholder="What's your goal amount?" ng-model="campaign.Goal" />
                                </div>
                            </fieldset>
                        </div>
                        <p>Tell us your story in full detail. You may add pictures from the web. You may not upload pictures at this time. Be as detailed as possible when describing your story. We want to know the whole thing!</p>
                        <fieldset>
                            <textarea style="height:500px" ui-tinymce ng-model="rawStory">Enter the details of your story here.</textarea>
                        </fieldset>
                    </div>
                    <div class="span12">
                        <h3>Give Us A Picture</h3>
                        <br />
                        <p>Copy and paste a picture representing your story. The picture must be high definition and has quality. The picture can be of yourself or your organization</p>
                        <fieldset>
                            <input type="text" ng-model="campaign.Picture" />
                        </fieldset>

                        <img ng-src="{{campaign.Picture}}" style="height:250px" />
                    </div>
                    <div class="span12">
                        <div class="row">
                            <br />
                            <br />
                            <br />

                            <h3>Add Donation Levels<span></span></h3>

                            <br />
                            <p width="100%">Detail some donation levels for your cause. Whatever your cause, you can add perks for people at $25, $50, or $100 intervals. List your perks, the amount of contribution they represent and the quantity that are available. </p>
                        </div>
                        <div class="row">
                            <div class="span6">
                                <fieldset>
                                    <label>Title</label>
                                    <input type="text" ng-model="donationModel.Title" />

                                    <label>Description</label>
                                    <textarea ui-tinymce ng-model="donationModel.Description">Enter your donation details here.</textarea>

                                    <label>Quantity</label>
                                    <input type="number" ng-model="donationModel.Quantity" />

                                    <label>Add A Delivery Date</label>
                                    <input type="date" ng-model="donationModel.Delivery" />

                                    <label>Donation Amount</label>
                                    <input type="text" ng-model="donationModel.Amount" />
                                    <br />
                                    <button class="fa fa-plus btn outline" type="submit" ng-click="newDonationLevel()">Add This Donation</button>

                                </fieldset>
                            </div>
                            <div class="row" ng-repeat="donation in campaign.DonationLevels">
                                <div class="span6">
                                    <div class="span2 donations">{{donation.Title}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4"></div>
            <div class="span4">
                <fieldset>
                    <input ng-hide="confirmed" class="btn btn-primary outline span4" type="submit" ng-click="submitForm(campaign)" value="Submit This Campaign" />
                    <br />
                    <br />
                    <br />

                </fieldset>

                <div ng-show="confirmed">
                    <div class="alert alert-success">Your campaign has been uploaded. Click "Go To Your Campaign" to view your uploaded campaign. You may edit or delete a campaign.</div>
                    <a href="/campaign/campaignview/{{id}}" class="btn btn-success outline">Go To Your Campaign</a>
                </div>
            </div>
            <div class="span4"></div>
        </div>
    </form>
</div>

@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="~/Scripts/tinymce.js"></script>
    <script src="~/Scripts/campaignBegin.js"></script>
}


