
@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div ng-app="app" ng-controller="campaignController">
        <!-- Page Content
        ================================================== -->
        <div class="row">
            <!--Container row-->
            <!-- Page Sidebar
            ================================================== -->
            <div class="span4 sidebar page-sidebar">
                <!-- Begin sidebar column -->
                <!--Latest News-->
                
                <!--Testimonials-->
                <h5 class="title-bg">Testimonials</h5>

                <p class="quote-text side">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum."<cite>- Client Name, Big Company</cite>
                </p>

                <p class="quote-text side">"Adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices."<cite>- Another Client Name, Big Company</cite>
                </p>


                <h5 class="title-bg">Latest Campaigns</h5>
                <ul class="popular-posts" ng-repeat="c in latestCampaigns">
                    <li>
                        <a href="#"><img ng-src="{{c.Avatar}}" alt="Popular Post"></a>
                        <h6><a href="#">{{c.Title}}</a></h6>
                        <em>Posted on {{c.DatePosted}}</em>
                    </li>
                </ul>

            </div><!-- End sidebar column -->
            <!-- Page Content
            ================================================== -->
            <div class="span8">

                <div class="row">
                    <div class="span4">
                        <h5>2 Column Layout</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                        <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    </div>
                    <div class="span4">
                        <h5>2 Column Layout</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                        <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    </div>
                </div>
            </div> <!--End page content column-->
        </div><!-- End container row -->

    </div> <!-- End Container -->

@section scripts{
    <script>
        var app = angular.module('app', []);

        app.controller('campaignController', function($http, $scope) {

            var onRefresh = function() {
                $http.get('/campaign/campaignsjs').then(function(result) {
                    $scope.campaignresults = result.data;
                });
            }

            onRefresh();

            $scope.search = function(search) {

                $http.get('/campaign/searchcampaigns?search=' + search).then(function(result) {
                    $scope.campaignresults = result.data;
                    if (result.data.length === 0) {
                        $scope.results = 0;
                        $scope.campaignresults = "There are no queries matching " + search;
                    };
                    $scope.results = result.data.length();
                });
            }

            $http.get('/campaign/latestcampaigns').then(function(result) {
                $scope.latestCampaigns = result.data;
            });

        });
    </script>
}
