
@{
    ViewBag.Title = "CampaignBegin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=checkbox] {
        display: none;
    }

        input[type=checkbox] + label:before {
            font-family: FontAwesome;
            display: inline-block;
        }

        input[type=checkbox] + label:before {
            content: "\f096";
        }

        input[type=checkbox]:checked + label:before {
            content: "\f046";
        }

        input[type=checkbox]:checked + label:before {
            letter-spacing: 5px;
        }

    .wizard {
        margin: 20px auto;
        background: #fff;
    }

        .wizard .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0;
        }

        .wizard > div.wizard-inner {
            position: relative;
        }

    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 80%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }

    .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
    }

    span.round-tab {
        width: 70px;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        border-radius: 100px;
        background: #fff;
        border: 2px solid #e0e0e0;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 25px;
    }

        span.round-tab i {
            color: #555555;
        }

    .wizard li.active span.round-tab {
        background: #fff;
        border: 2px solid #5bc0de;
    }

        .wizard li.active span.round-tab i {
            color: #5bc0de;
        }

    span.round-tab:hover {
        color: #333;
        border: 2px solid #333;
    }

    .wizard .nav-tabs > li {
        width: 25%;
    }

    .wizard li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #5bc0de;
        transition: 0.1s ease-in-out;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom-color: #5bc0de;
    }

    .wizard .nav-tabs > li a {
        width: 70px;
        height: 70px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
    }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

    .wizard .tab-pane {
        position: relative;
        padding-top: 50px;
    }

    .wizard h3 {
        margin-top: 0;
    }

    @@media( max-width : 585px ) {

        .wizard {
            width: 90%;
            height: auto !important;
        }

        span.round-tab {
            font-size: 16px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        .wizard .nav-tabs > li a {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 35%;
        }
    }
</style>
<div class="container">
    <br />
    <br />

    <div>
        <section>
            <br />
            <br />
            <h3 >Start Your Campaign</h3>

            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-app="app" ng-controller="formController">
                    <form role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <h3>Write Your Campaign Description </h3>
                                    <br />

                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <textarea ckeditor="editorOptions" ng-model="campaign.Story"></textarea>
                                    </fieldset>

                                </div>
                                <div class="col-md-6">
                                    <input class="form-control input-lg" id="inputlg" type="text" placeholder="{{campaign.Title}}">

                                    <br />
                                    <div ng-bind-html="campaign.Story"></div>

                                    @*<p>
                                            Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                                        </p>*@
                                </div>
                                <ul class="list-inline pull-right">
                                    @*<li><button type="button" class="btn btn-default next-step">Save and continue</button></li>*@
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">


                                <div lcass="col-md-4"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <h3>How Much Are You Trying To Raise? - <span>${{campaign.Goal}}.00</span> </h3>
                                    <div class="input-group col-md-4">
                                        <span class="input-group-addon">$</span>
                                        <fieldset>
                                            <input type="number" placeholder="{{campaign.Goal}}" ng-model="campaign.Goal" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        </fieldset>
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <br />
                                    <p>Your campaign by default comes with five donation levels. For this demo, you are only allowed five donation levels. On production, you will be able to add up to twenty different perks with your donation levels.</p>
                                    <br />

                                    <div class="spotlight">
                                        <div class="content" style="position:relative; border: 1px solid gray; height:150px;  width: 1000px">
                                            <h3 style="position:absolute; margin:auto; left:35%">$25 Donation Level</h3>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="spotlight">
                                        <div class="content" style="position:relative; border: 1px solid gray; height:150px; width: 1000px">
                                            <h3 style="position:absolute; margin:auto; left:35%">$50 Donation Level</h3>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="spotlight">
                                        <div class="content" style="position:relative; border: 1px solid gray; height:150px; width: 1000px">
                                            <h3 style="position:absolute; margin:auto; left:35%">$75 Donation Level</h3>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="spotlight">
                                        <div class="content" style="position:relative; border: 1px solid gray; height:150px; width: 1000px">
                                            <h3 style="position:absolute; margin:auto; left:35%">$100 Donation Level</h3>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="spotlight">
                                        <div class="content" style="position:relative; border: 1px solid gray; height:150px; width: 1000px">
                                            <h3 style="position:absolute; margin:auto; left:35%">$150 Donation Level</h3>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <div lcass="col-md-2"></div>
                                <ul class="list-inline pull-right">
                                    @*<li><button type="button" class="btn btn-default prev-step">Previous</button></li>*@
                                    @*<li><button type="button" class="btn btn-default next-step">Save and continue</button></li>*@
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <h3>Upload Your Picture</h3>

                                    <br />

                                    <p>Your campaign picture will represent your campaign. Be sure to upload an image that will represent your campaign accurately.</p>

                                    <br />

                                    <div class="form-group">
                                        <fieldset>
                                            <input class="form-control input-lg" id="inputlg" type="text" value="{{campaign.Picture}}"/>
                                        </fieldset>
                                        <br />
                                        <img style="height:300px;" ng-src="{{campaign.Picture}}" />

                                    </div>
                                </div>
                                <div class="col-md-2"></div>

                                <ul class="list-inline pull-right">
                                    @*                           <li><button type="button" class="btn btn-default prev-step">Previous</button></li>*@
                                    @*                         <li><button type="button" class="btn btn-default btn-info-full next-step">Save and continue</button></li>*@
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <h3>Submit Your Campaign </h3>
                                    <br />
                                    <fieldset>
                                        <input  type="submit"class="btn btn-success btn-lg" value="Submit Your Campaign" ng-submit="submit(campaign)" ng-hide="submitted" />
                                    </fieldset>

                                    <div ng-show="loading"><input src="~/Content/default.gif"/></div>
                                    <div class="alert alert-success" ng-show="success">
                                        Your campaign has succcessfully been uploaded. Click To See Your Campaign
                                        <a href="/campaign/campaignview/{{id}}" class="btn btn-success"> Go To See Your Campaign </a>
                                    </div>
                                    <br />
                                    <br />

                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-sanitize.js"></script>
    <script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');
                nextTab($active);

            });
            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }
    </script>

    <script>
        var app = angular.module("app", ['ngSanitize', 'ngCkeditor']);

        app.controller("formController", function ($scope, $http) {

            $scope.loading = false;
            $scope.success = false;

            $scope.campaign = {
                Title: '',
                Story: '',
                Picture: '',
                Goal: 3000
            };

            $scope.campaign.Title = "Write The Title Of Your Campaign";

            $scope.campaign.Story = "<h1>Write Your Campaign Description</h1><p>This is where you will write the description of your campaign. Be detailed but brief.<br/><br/>We want to know what your purpose is for starting this campaign. Our administration will collect the details of your campaign description and tailor your contributions to willing contributors. <br/><br/>We are affiliated with several organizations dedicated to helping young legal students in pursuing their goals.<br/><br/>Have fun and keep it clean!</p>";

            $scope.campaign.Picture = "http://law.depaul.edu/student-resources/PublishingImages/law3.jpg";

            $scope.submit = function (input) {
                $scope.loading = true;
                $scope.submitted = true;
                $http.post('/campaign/startcampaign', input).success(function (id) {
                    $scope.loading = false;
                    $scope.success = true;
                    $scope.id = id;
                });
            };

            $scope.editorOptions = {
                language: 'en',
                uiColor: '#FFFFFF',
                height: '500px',
                
            };
        });
    </script>

}
