@model LegalAccessInnovationFund.Web.Models.ViewModels.ApplicationViewModel

@{
    ViewBag.Title = "ApplicationForm";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<div class="row headline">
    <!-- Begin Headline -->

    <h1 class="title-bg">Apply to become a 2016 Legal Access Technology & Innovation Fellow</h1>
    <div class="row">

        <div class="span5">
            <h6 class="title-bg"><small>The Legal Access Innovation Fund is looking for current law students excited about legal innovation and access to justice to apply to be a Legal Access Technology & Innovation Fellow</small></h6>
            <p class="lead">As a Legal Access Technology & Innovation Fellow, you will be on the cutting edge of legal innovation by creating innovative technologies to help improve legal access and the delivery of legal services.</p>
            <blockquote>
                <p>
                    LAIF fellows will:
                    <br />
                    <br />

                    <ul>
                        <li>Participate in a accelerator style program where you'll create technology based solutions and applications that address access to justice issues.</li>
                        <li> Learn about legal innovation and community building through collaboration among partners.</li>
                        <li> Work on a team with legal technologist, software developers, and legal aid organizations.</li>
                        <li> Join weekly check-ins with the LAIF mentors and have opportunities to collaborate with LAIF fellow at law schools across the country.</li>
                        <li> Present you finalized legal access innovation to stakeholders across the country.</li>
                        <li> Paid a stipend during the 10 week summer fellowship.</li>
                    </ul>
            </blockquote>

            We expect that you will gain meaningful experience, cultivate leadership skills, build relationships with legal innovators around the country, set yourself apart as a legal access disrupter, contribute to a public resource, and gain firsthand experience as you create legal access applications.
            <br />
            <br />

            The deadline to apply is Monday, December 7, 2016.
            <br />
            <br />

            Who we are: The Legal Access Innovation Fund is a community of innovative law students, legal aid organizations, legal technologists, other allied professionals who believe we will all benefit from a legal system that provides equitable access to all. We are creating the next generation of legal innovators who will expand legal access and improve the delivery of legal services to underserved communities by providing law students with meaningful opportunities to create innovative legal technologies, assist with cutting-edge legal aid projects, and implement technology and innovation within legal aid organizations.
            <br />
            <br />
            At least 80 percent of the legal needs of the poor and two-thirds of the legal needs of middle income Americans are not met. While lawyers are too restricted by the profession to enable change, we believe creating a fertile environment for law students to become legal innovators will eventually disrupt the legal profession and spur innovative solutions that address our most pressing issues that prevent legal access to low-income clients.
            <br />
            <br />
            <p>
                As the future of legal profession presents increasingly complex challenges that restrict access to low-income communities, it is essential that law students are at the foundation to become change agents.
            </p>

            <br />
            <br />
            <br />
            <br />
            <br />
        </div>


        <div class="span2">

        </div>

        <div class="span5">


            <div ng-app="app" ng-controller="applicationController" ng-cloak>
                <form>
                    <label>First Name <span ng-show="!application.FirstName" style="color:red">*</span></label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span4" id="prependedInput" size="16" style="width:100%" type="text" ng-model="application.FirstName">
                    </div>
                    <br />
                    <label>Last Name <span ng-show="!application.LastName" style="color:red">*</span></label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span4" id="prependedInput" size="16" style="width:100%" type="text" ng-model="application.LastName">
                    </div>
                    <br />
                    <label>City <span ng-show="!application.City" style="color:red">*</span></label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span4" id="prependedInput" size="16" style="width:100%" type="text" placeholder="" ng-model="application.City">
                    </div>
                    <br />
                    <label>State <span ng-show="!application.State" style="color:red">*</span></label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span4" id="prependedInput" size="16" style="width:100%" type="text" placeholder="" ng-model="application.State">
                    </div>

                    <br />
                    <label>Email <span ng-show="!application.Email" style="color:red">*</span></label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span4" id="prependedInput" size="16" style="width:100%" type="text" placeholder="" ng-model="application.Email">
                    </div>
                    <br />
                    <label>Birth Date <span ng-show="!application.DateOfBirth" style="color:red">*</span></label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span4" id="prependedInput" style="width:100%" size="16" type="text" placeholder="" ng-model="application.DateOfBirth">
                    </div>
                    <br />

                    <label>Phone Number <span ng-show="!application.PhoneNumber" style="color:red">*</span></label>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span4" id="prependedInput" style="width:100%" size="16" type="text" placeholder="" ng-model="application.PhoneNumber">
                    </div>
                    <br />

                    <div ng-hide="buttonClicked" >
                        <input type="submit" class="btn btn-large span4"  ng-disabled="!application" ng-click="submit(application)" />
                    </div>
                    
                        <img ng-show="loading" src="~/Content/ajax-loader (1).gif" />
                    <div ng-show="submitted" class="alert alert-success">
                        {{message}}
                    </div>
                    <div ng-show="error" class="alert alert-danger">
                        {{message}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <script>

        var app = angular.module("app", []);


        app.controller("applicationController", function ($http, $scope) {

            $scope.submitted = false;
            $scope.error = false;
            $scope.loading = false;

            $scope.submit = function (input) {

                $scope.loading = true;
                $scope.buttonClicked = true;

                $http.post("/profile/submitapplication", input).success(function (message) {

                    $scope.application = {};
                    $scope.loading = false;
                    $scope.submitted = true;
                    $scope.message = message;
                })

                .error(function (error) {
                    
                    $scope.loading = false;
                    $scope.error = true;

                });
            }
        });
    </script>
}
