m@odel LegalAccessInnovationFund.Web.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* GENERAL STYLES */
    body {
        background-color: #EAEAEA;
    }

    /* USER PROFILE STYLES */

    .user-wrapper .btn {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        margin: 5px;
    }

    .user-wrapper .description {
        padding: 25px;
        background-color: #fff;
    }

    .user-wrapper img {
        width: 100%;
    }


    /* SOCIAL BUTTONS */
    .btn-social {
        color: white;
        opacity: 0.8;
    }

        .btn-social:hover {
            color: white;
            opacity: 1;
            text-decoration: none;
        }

    .btn-facebook {
        background-color: #3b5998;
    }

    .btn-twitter {
        background-color: #00aced;
    }

    .btn-linkedin {
        background-color: #0e76a8;
    }

    .btn-google {
        background-color: #c32f10;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <br />
            <br />

            <br />
        </div>
    </div>
    <!-- USER PROFILE ROW STARTS-->
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="user-wrapper">
                <img src="@Model.Avatar" class="img-responsive" />
                <div class="description">
                    <h4> @Model.Name</h4>
                    <h5> Date Joined : <strong> </strong></h5>
                    <p>
                        Pellentesque elementum dapibus convallis.
                    </p>
                    <hr />
                    <a href="#" class="btn btn-danger btn-sm"> <i class="fa fa-user-plus"></i> &nbsp;Profile + </a>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9  user-wrapper">
            <div class="description">
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam suscipit egestas eros, ut maximus magna blandit ut.
                    Suspendisse vel molestie sapien.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Fusce sit amet egestas dui, vitae tincidunt justo.
                </p>
                <p>
                    Etiam eleifend massa congue magna pretium, id blandit dui pulvinar.
                    Nam et pulvinar risus, vel blandit risus.
                    Maecenas tristique volutpat ante, aliquet hendrerit felis aliquet nec.
                    Curabitur rutrum tincidunt erat, ac feugiat libero gravida ac.
                    Suspendisse ut varius quam, vitae rutrum metus.
                </p>
                <hr />
                <a href="#" class="btn btn-social btn-facebook">
                    <i class="fa fa-facebook"></i>&nbsp; Facebook
                </a>

                <a href="#" class="btn btn-social btn-google">
                    <i class="fa fa-google-plus"></i>&nbsp; Google
                </a>
                <a href="#" class="btn btn-social btn-twitter">
                    <i class="fa fa-twitter"></i>&nbsp; Twitter
                </a>
                <a href="#" class="btn btn-social btn-linkedin">
                    <i class="fa fa-linkedin"></i>&nbsp; Linkedin
                </a>
            </div>
        </div>
    </div>
    <!-- USER PROFILE ROW END-->
</div>
<br />
<br />
<br />



